[submodule "benches/corpus/gin"]
	path = benches/corpus/gin
	url = https://github.com/gin-gonic/gin
	shallow = true
	update = none
	tag = v1.12.0
[submodule "benches/corpus/ripgrep"]
	path = benches/corpus/ripgrep
	url = https://github.com/BurntSushi/ripgrep
	shallow = true
	update = none
	tag = 15.1.0
[submodule "benches/corpus/serde"]
	path = benches/corpus/serde
	url = https://github.com/serde-rs/serde
	shallow = true
	update = none
	tag = v1.0.228
[submodule "benches/corpus/flask"]
	path = benches/corpus/flask
	url = https://github.com/pallets/flask
	shallow = true
	update = none
	tag = 3.1.3
[submodule "benches/corpus/click"]
	path = benches/corpus/click
	url = https://github.com/pallets/click
	shallow = true
	update = none
	tag = 8.4.2
[submodule "benches/corpus/redis"]
	path = benches/corpus/redis
	url = https://github.com/redis/redis
	shallow = true
	update = none
	tag = 8.8.0
